@using DigitalMenu.Models.DTO.UserEmployee
@model IEnumerable<EmployeeDTO>

@{
    ViewData["Title"] = "Categorías";
}
<h4>Usuarios</h4>
<hr class="bg-custom-color" />

<button type="button" class="btn btn-secondary mb-3" data-bs-toggle="modal" data-bs-target="#ModalNewUser">
    Nuevo Usuario
</button>
<button type="button" class="btn btn-primary" onclick="ErrorSwal()">success</button>

<table class="table table-hover">
    <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>UserName</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>
                    <a class="btn btn-primary" asp-action="Editar" asp-route-id="@item.IdEmployee">Editar</a>
                    <a class="btn btn-danger" asp-action="Borrar" asp-route-id="@item.IdEmployee">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_NewUserForm" />

@section Scripts{
    <script src="~/js/administrator/userAdmin.js" asp-append-version=" true"></script>
}