@using DigitalMenu.Models.Administrator
@model IEnumerable<ApplicationViewModel>

@{
    ViewData["Title"] = "Application";
    Layout = "~/Views/Administrator/Shared/_AdministratorLayout.cshtml";
}
<h4>Application list</h4>
<hr class="bg-custom-color" />

<button type="button" class="btn btn-outline-primary mb-3" data-bs-toggle="modal" data-bs-target="#ModalNewApplication">
    New Application
</button>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Display</th>
            <th>Icon</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Display</td>
                <td>@item.Icon</td>
                <td>
                    <a class="bi bi-pencil-square" asp-action="Editar" asp-route-id="@item.IdApplication"></a>
                </td>
                <td>
                    <a class="bi bi-trash3" asp-action="Borrar" asp-route-id="@item.IdApplication"></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_Partial\_CreateApplicationForm" />

@section Scripts {
    <script src="~/js/administrator/application.js" asp-append-version=" true"></script>
}