@using DigitalMenu.Models.Administrator
@model IEnumerable<SystemvariableViewModel>

@{
    ViewData["Title"] = "Systemvariable";
    Layout = "~/Views/Administrator/Shared/_AdministratorLayout.cshtml";
}

<h4>Variable control</h4>
<hr class="bg-custom-color" />

<button type="button" class="btn btn-outline-primary mb-3" onclick="ShowCreateRole()">
    New Variable
</button>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>String Value</th>
            <th>Number Value</th>
            <th>Details</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.ValueString</td>
                <td>@item.ValueNumeric</td>
                <td>
                    <a onclick="ShowDetailVariable(@item.IdSystemVariable)" style="cursor:pointer" class="bi bi-pencil-square"></a>
                </td>
                <td>
                    <a onclick="UpdateStateVariable(@item.IdSystemVariable)" style="cursor:pointer" class="bi bi-android"></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="DetailVariableContainer">
</div>

@section Scripts {
    <script src="~/js/administrator/systemVariables.js" asp-append-version=" true"></script>
}